@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/variables" as *;

.deck-details-page {
  @include flex($direction: column, $gap: $padding-1x);
  @include page-padding;
  @include page-buttons;
  background-color: $color-background-secondary;

  &--no-scroll {
    overflow: hidden;
  }

  &__title {
    text-align: center;
    align-self: center;
    font-size: 3rem;
  }

  &__info {
    @include flex($direction: row, $gap: $padding-1x);
  }

  &__info-container {
    @include flex(row, center, center);
    flex: 1;
    border-radius: 5px;
  }

  &__info-item {
    font-size: 2rem;
  }
}
