@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/variables" as *;

.game-players {
  @include flex($direction: column, $gap: $padding-mobile);
  @include inline-padding;
  @include block-padding;
  position: fixed;
  bottom: 0;
  background-color: $color-background-primary;
  width: 100%;

  &__header {
    @include flex(row, space-between, baseline, 1rem);
    width: 100%;
  }

  &__title {
    margin: 0;
  }

  &__players {
    @include flex($gap: 1rem);
    width: 100%;
    overflow: scroll;
  }

  &__player {
    margin: 0;
    padding: 1rem;
    border: 2px solid #000;
    border-radius: 4px;
  }
}
