@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/variables" as *;

.game-players {
  @include block-gap;
  @include block-padding;
  position: fixed;
  bottom: 0;
  background-color: $color-background-primary;
  width: 100%;
  box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.25);

  &__buttons {
    @include flex(row, flex-end, center, 1rem);
    @include inline-padding;
    width: 100%;
  }

  &__players-container {
    @include flex($align: center, $gap: $padding-1x);
    padding-inline: $padding-1_5x;
  }

  &__players-title {
    white-space: nowrap;
    font-weight: 400;
  }

  &__players {
    @include flex($gap: 1rem);
    width: 100%;
    overflow: scroll;
  }

  &__player {
    // padding: 1rem;
    font-size: 1.5rem;
    // text-transform: uppercase;
    white-space: nowrap;
    font-weight: 600;

    &--current {
      color: $color-accent-primary;
      transform: translateY(-3px);
    }
  }
}
