@use "../../styles/utils" as *;

.deck-play-page {
  @include flex(column);
  position: absolute;
  top: 0;
  z-index: 10;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  background-color: $color-background-secondary;
}
