.deck-play-page {
  height: 100%;

  &__game {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card {
    position: absolute;
    background-color: black;
    color: white;
    height: 5rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
}
