@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/variables" as *;

.header {
  display: none;
}

.deck-play-page {
  @include inline-padding;
  @include flex(column);
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $color-background-primary;
}
