@use "../../styles/utils" as *;

.card-info {
  padding: 5px;
  border-radius: 1rem;
  background-color: $color-accent-secondary;
  background-image: linear-gradient(
    316deg,
    $color-accent-primary 0%,
    $color-accent-secondary 40%
  );

  &__container {
    @include flex($direction: column, $gap: $padding-1x);
    @include block-padding;
    @include inline-padding;
    border-radius: 0.8rem;
    background-color: $color-background-primary;
  }

  &__title {
    @include card-font(1.4rem);
  }

  &__info {
    @include flex($gap: $padding-1x);
    flex: 1;
  }

  &__info-item {
    font-size: 1.3rem;

    &--occurences {
      font-weight: 700;
      flex: 1;
      text-align: end;
    }
  }
}
