@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/variables" as *;

.add-rule-popup {
  @include flex(row, center, center);
  @include inline-padding;
  @include block-padding;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 100dvh;
  width: 100vw;
  background-color: rgba($color: grey, $alpha: 0.5);

  &__form {
    @include flex($direction: column, $gap: $padding-mobile);
    padding: $padding-tablet;
    width: 100%;
    background-color: rgba($color: $color-background-primary, $alpha: 1);
    border-radius: 4px;
  }

  &__title {
    margin: 0;
  }

  &__buttons {
    @include flex($gap: $padding-mobile);
  }
}
