@use "./variables" as *;
@use "./structure" as *;
@use "./utils" as *;
@use "./fonts" as *;

@mixin button {
  @include font-body-large;
  @include flex(row, center, center);
  width: 100%;
  height: 3rem;
  background-color: $color-brand-primary;
  background-image: linear-gradient(
    316deg,
    $color-brand-primary 0%,
    $color-brand-secondary 74%
  );
  color: $color-text-secondary;
  border-radius: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
  white-space: nowrap;
  padding: 0 1rem;
  cursor: default;
  font-weight: bold;
  border: none;

  &:hover {
    background-color: $color-brand-secondary;
    background-image: linear-gradient(
      316deg,
      $color-brand-secondary 0%,
      $color-brand-primary 74%
    );
  }

  &--secondary {
    background-color: $color-background-primary;
    color: $color-text-primary;
    border: 1px $color-border solid;
    background-image: none;

    &:hover {
      background-color: $color-background-primary;
      color: $color-brand-primary;
      border-color: $color-brand-primary;
      background-image: none;
    }
  }

  &--negative {
    border: 1px solid $color-negative;
    color: $color-negative;
    background-color: $color-background-primary;
    background-image: none;

    &:hover {
      color: $color-text-secondary;
      background-color: $color-negative;
      background-image: none;
    }
  }

  &--play {
    background-color: $color-accent-secondary;
    background-image: linear-gradient(
      316deg,
      $color-accent-secondary 0%,
      $color-accent-primary 74%
    );

    &:hover {
      background-color: $color-brand-secondary;
      background-image: linear-gradient(
        316deg,
        $color-accent-primary 0%,
        $color-accent-secondary 74%
      );
    }
  }
}

@mixin form-input {
  @include block-gap(0.5rem);

  &__label {
    @include block-gap(0.5rem);
    text-transform: capitalize;
    font-size: 1.17rem;
    font-weight: 600;
  }

  &__input {
    font-size: 1.17rem;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    border: 1px $color-border solid;

    &::placeholder {
      text-transform: capitalize;
    }

    &:focus {
      border-color: $color-accent-secondary;
      outline: none;
    }

    &--error {
      border-color: $color-negative;
    }
  }

  &__validation {
    @include flex(row, space-between);
  }

  &__error {
    color: $color-negative;
  }
}

@mixin modal {
  @include flex(row, center, center);
  @include inline-padding;
  @include block-padding;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 100dvh;
  width: 100vw;
  background-color: rgba($color: $color-border, $alpha: 0.75);

  &__container {
    @include block-gap(1.5rem);
    padding: $padding-2x;
    width: 100%;
    background-color: rgba($color: $color-background-primary, $alpha: 1);
    border-radius: 1rem;
  }
}

@mixin game-card {
  @include flex(column, center, center);
  position: absolute;
  color: $color-text-primary;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 6 / 8.5;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);
  background-color: $color-accent-secondary;
  background-image: linear-gradient(
    316deg,
    $color-accent-primary 0%,
    $color-accent-secondary 74%
  );

  &--swiped {
    display: none;
  }

  &__width-forcer {
    width: 50rem;
  }

  &__container {
    @include flex(column);
    width: 100%;
    height: 100%;
  }

  &__title {
    @include card-font(1.5rem);
    font-size: 1.5rem;
    position: relative;
    top: -0.5rem;

    &--bottom {
      width: 100%;
      transform: rotate(180deg);
      top: 0.5rem;
    }
  }

  &__info-container {
    @include flex(column, center, center, $padding-1x);
    flex: 1;
    padding: $padding-1x;
    width: 100%;
    border-radius: 0.7rem;
    background-color: $color-background-primary;
    font-size: 1.3rem;
    text-align: center;
  }
}

@mixin page-buttons {
  &__page-buttons {
    @include flex($gap: $padding-1x);
    @include inline-padding;
    @include block-padding;
    position: sticky;
    bottom: 0;
    background-color: $color-background-primary;
    width: 100%;
    box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.25);
  }

  &__page-button {
    flex: 1;
  }

  &__page-back-button {
    width: 3rem;
    padding: 0;
    border-color: $color-accent-primary;
    background-image: url("../../assets/icons/arrow_back-24px.svg");
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url("../../assets/icons/arrow_back-24px-light.svg");
      border-color: $color-accent-primary;
      background-color: $color-accent-primary;
    }
  }
}
