@mixin flex(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $gap: normal
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin inline-padding {
  padding-inline: 1rem;
}
