@use "./variables" as *;

// breakpoints
@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

// utils
@mixin flex(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $gap: normal
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

// fonts
@mixin font-header-xl {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;

  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@mixin font-header-large {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@mixin font-header-medium {
  font-size: 0.81rem;
  line-height: 1.25rem;
  font-weight: 600;

  @include tablet {
    font-size: 0.88rem;
    line-height: 1.38rem;
  }
}

@mixin font-header-small {
  font-size: 0.69rem;
  line-height: 1rem;
  font-weight: 400;
  text-transform: uppercase;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.13rem;
  }
}

@mixin font-body-large {
  font-size: 0.94rem;
  line-height: 1.63rem;
  font-weight: 400;

  @include tablet {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

@mixin font-body-medium {
  font-size: 0.81rem;
  line-height: 1.25rem;
  font-weight: 400;

  @include tablet {
    font-size: 0.88rem;
    line-height: 1.38rem;
  }
}

@mixin font-body-small {
  font-size: 0.69rem;
  line-height: 1rem;
  font-weight: 400;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.13rem;
  }
}

// structure
@mixin inline-padding {
  padding-inline: $padding-mobile;

  @include tablet {
    padding-inline: $padding-tablet;
  }
}

@mixin block-padding {
  padding-block: $padding-mobile;

  @include tablet {
    padding-block: $padding-tablet;
  }
}

@mixin block-margin {
  margin-block: $padding-mobile;

  @include tablet {
    margin-block: $padding-tablet;
  }
}

@mixin block-margin-header {
  margin-block: $padding-mobile-header $padding-mobile;

  @include tablet {
    margin-block: $padding-tablet-header $padding-tablet;
  }
}

@mixin content-width-limit {
  @include tablet {
    max-width: $max-content-width;
    box-sizing: content-box;
    margin-inline: auto;
  }
}

@mixin overlap-header {
  margin-top: -4rem;

  @include tablet {
    margin-top: -5.625rem;
  }
}

// components
@mixin button {
  @include font-body-large;
  @include flex(row, center, center);
  width: 100%;
  height: 3rem;
  background-color: $color-brand-primary;
  color: $color-background-primary;
  border: none;
  border-radius: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
  white-space: nowrap;
  padding: 0.5rem 1rem;

  @include tablet {
    width: fit-content;
  }

  &:hover {
    background-color: $color-brand-secondary;
  }

  &--secondary {
    background-color: $color-background-primary;
    color: $color-text-secondary;
    border: 1px $color-border solid;

    &:hover {
      background-color: $color-background-primary;
      color: $color-brand-primary;
      border-color: $color-brand-primary;
    }
  }

  &--negative {
    background-color: $color-negative;
  }
}

@mixin modal {
  @include flex(row, center, center);
  @include inline-padding;
  @include block-padding;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 100dvh;
  width: 100vw;
  background-color: rgba($color: grey, $alpha: 0.5);

  &__container {
    @include flex($direction: column, $gap: $padding-mobile);
    padding: $padding-tablet;
    width: 100%;
    background-color: rgba($color: $color-background-primary, $alpha: 1);
    border-radius: 4px;
  }
}

@mixin game-card {
  @include flex(column, center, center);
  position: absolute;
  background-color: $color-background-primary;
  color: $color-text-primary;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 5.5 / 8.5;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);

  &--swiped {
    display: none;
  }

  &__container {
    @include flex($direction: column, $gap: 1rem);
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__title {
    margin: 0;
    width: 50rem;

    &--bottom {
      width: 100%;
      transform: rotate(180deg);
    }
  }

  &__info-container {
    @include flex(column, center, center);
    flex: 1;
    padding: 1rem;
    border: 2px solid #000;
    width: 100%;
    border-radius: 1rem;
  }
}

@mixin page-buttons {
  &__page-buttons {
    @include flex($gap: $padding-mobile);
    @include inline-padding;
    @include block-padding;
    position: sticky;
    bottom: 0;
    background-color: $color-background-primary;
    width: 100%;
  }

  &__page-button {
    width: 100%;
  }
}
