@use "./variables" as *;

@mixin inline-padding {
  padding-inline: $padding-1x;
}

@mixin block-padding {
  padding-block: $padding-1x;
}

@mixin page-padding {
  padding: $padding-1_5x;
}

@mixin block-margin {
  margin-block: $padding-1x;
}
