@use "./variables" as *;
@use "./utils" as *;

@mixin inline-padding {
  padding-inline: $padding-1x;
}

@mixin block-padding {
  padding-block: $padding-1x;
}

@mixin block-margin {
  margin-block: $padding-1x;
}

@mixin block-gap($gap: $padding-1x) {
  @include flex($direction: column, $gap: $gap);
}

@mixin page-padding {
  @include block-gap;
  padding: $padding-1_5x;
}
