// primary colors
$color-text-primary: #011627;
$color-brand-primary: #ff7d14;
$color-accent-primary: #6d68f3;
$color-background-primary: #ffffff;

// secondary colors
$color-text-secondary: #fdfffc;
$color-brand-secondary: #f94327;
$color-accent-secondary: #66bef9;
$color-background-secondary: #fff9eb;

// supporting colors
$color-negative: #e53124;
$color-border: #bdc5d5;

// padding
$padding-1x: 1rem;
$padding-1_5x: 1.5rem;
$padding-2x: 2rem;
