// primary colors
$color-text-primary: #13182c;
$color-brand-primary: #2e66e5;
$color-accent-primary: #ff5600;
$color-background-primary: #ffffff;

// secondary colors
$color-text-secondary: #5c667e;
$color-brand-secondary: #232940;
$color-accent-secondary: #c94515;
$color-background-secondary: #f7f8f9;

// supporting colors
$color-border: #bdc5d5;

// padding
$padding-1x: 1rem;
$padding-2x: 2rem;
