// primary colors
$color-text-primary: #13182c;
$color-brand-primary: #2e66e5;
$color-background-primary: #ffffff;

// secondary colors
$color-text-secondary: #5c667e;
$color-brand-secondary: #232940;
$color-background-secondary: #f7f8f9;

// supporting colors
$color-border: #bdc5d5;
$color-positive: #158463;
$color-negative: #c94515;

// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-content-width: 1020px;

// padding
$padding-mobile: 1rem;
$padding-mobile-header: 1.5rem;

$padding-tablet: 2rem;
$padding-tablet-header: 2.25rem;
