@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/variables" as *;

.game-card-back {
  @include game-card;
  @include block-padding;
  background-color: $color-background-primary;
  background-image: none;

  &__info-container {
    background-color: $color-accent-secondary;
    background-image: linear-gradient(
      316deg,
      $color-accent-primary 0%,
      $color-accent-secondary 74%
    );
    text-align: center;
    font-size: 2.5rem;
  }
}
