@use "../../styles/utils" as *;

.game-card-back {
  @include game-card;
  @include block-padding;
  background-color: $color-background-primary;
  background-image: none;

  &__info-container {
    @include card-font(3rem);
    background-color: $color-accent-secondary;
    background: url("../../assets/images/logo.png");
    background: url("../../assets/images/logo.png") bottom no-repeat,
      linear-gradient(
        316deg,
        $color-accent-primary 0%,
        $color-accent-secondary 74%
      );
    background-size: contain;
    text-align: center;
    word-break: break-word;
  }
}
