@use "styles/utils" as *;
@use "styles/base/typography";

.deck-info {
  @include flex($direction: column, $gap: $padding-1x);
  @include block-padding;
  @include inline-padding;
  border-radius: 1rem;
  background-color: $color-brand-primary;
  background-image: linear-gradient(
    316deg,
    $color-brand-secondary 0%,
    $color-brand-primary 74%
  );
  color: $color-text-secondary;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);

  &__title {
    @include card-font(1.3rem);
  }

  &__container {
    @include flex($direction: column, $gap: $padding-1x);
  }

  &__info {
    @include flex($direction: row, $gap: $padding-1x);
    flex: 1;
    width: 100%;
  }

  &__info-container {
    @include flex(row, center, center);
    flex: 1;
    border-radius: 5px;
  }

  &__info-item {
    font-size: 1.4rem;
  }

  &__buttons {
    @include flex($direction: row, $justify: flex-end, $gap: $padding-1x);
    flex: 2;
  }
}
