@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/variables" as *;

.header {
  @include inline-padding;
  background-color: $color-background-primary;

  &__logo-link {
    @include flex(row, center, center);
    text-decoration: none;
  }

  &__logo {
    color: $color-text-primary;
  }
}
