@use "../../styles/utils" as *;

.header {
  @include flex(row, space-between, center);
  padding: $padding-1x $padding-1_5x 0 $padding-1_5x;
  background-color: $color-background-secondary;

  &--center {
    justify-content: center;
  }

  &__logo-link {
    @include flex(row, center, flex-end);
    text-decoration: none;
    width: fit-content;
    padding-bottom: 7.5px;
  }

  &__logo-image {
    height: 2.5rem;
    padding-bottom: 0.15rem;
  }

  &__logo {
    @include card-font(1.7rem);
    color: $color-text-primary;
  }
}
