@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/variables" as *;

.header {
  @include inline-padding;
  background-color: $color-background-primary;

  &__content {
    @include content-width-limit;
  }

  &__logo-link {
    @include flex(row, center, center);
    @include block-padding;
    text-decoration: none;
  }

  &__logo {
    color: $color-text-primary;
  }

  &__nav {
    @include flex($justify: space-between, $gap: $padding-mobile);
    padding-bottom: $padding-mobile;
  }

  &__link {
    @include button;

    &.active {
      background-color: $color-text-primary;
      color: $color-background-primary;
    }
  }
}
