@use "styles/utils" as *;

.login-page {
  @include page-padding;
  @include flex(row, center, center);
  background-color: $color-background-secondary;

  &__container {
    width: 100%;
    max-width: 24rem;
    background-color: $color-brand-primary;
    background-image: linear-gradient(
      316deg,
      $color-brand-secondary 0%,
      $color-brand-primary 74%
    );
    border-radius: 1rem;
    padding: 5px;
  }

  &__form {
    @include flex($direction: column, $gap: $padding-1x);
    @include block-padding;
    @include inline-padding;
    border-radius: 0.8rem;
    background-color: $color-background-primary;
  }

  &__input {
    height: 5.6rem;
    transition: height 0.3s ease-out;

    &--password {
      input {
        letter-spacing: 3px;

        &::placeholder {
          letter-spacing: normal;
        }
      }
    }

    &--hidden {
      height: 0;
      overflow: hidden;
    }
  }

  &__error {
    align-self: center;
    color: $color-negative;
  }

  &__button-link {
    border: none;
    background-color: transparent;
    color: $color-accent-primary;
    padding: 0;
    text-decoration: underline;
    font-size: 1rem;
    cursor: pointer;
  }
}
