@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/variables" as *;

.rule-list {
  @include flex($direction: column, $gap: $padding-1x);
  list-style: none;
  padding: 0;
  margin: 0;
}
