@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/variables" as *;

.rule-info {
  padding: 4px;
  border-radius: 1rem;
  background-color: $color-accent-secondary;
  background-image: linear-gradient(
    316deg,
    $color-accent-primary 0%,
    $color-accent-secondary 40%
  );

  &__container {
    @include flex($direction: column, $gap: $padding-1x);

    @include block-padding;
    @include inline-padding;
    border-radius: 0.8rem;
    background-color: $color-background-primary;
  }

  &__title {
    margin: 0;
  }

  &__description {
    margin: 0;
  }

  &__info {
    @include flex($gap: $padding-1x);
    flex: 3;
  }

  &__info-container {
    @include flex(row, center, center);
    flex: 1;
    height: 3rem;
    border: 1px solid $color-text-primary;
    border-radius: 5px;
  }

  &__info-item {
    margin: 0;
  }
}
