@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/variables" as *;

.rule-info {
  @include flex($direction: column, $gap: $padding-mobile);
  @include block-padding;
  @include inline-padding;
  border: 1px solid $color-border;
  border-radius: 1rem;

  &__title {
    margin: 0;
  }

  &__description {
    margin: 0;
  }

  &__info {
    @include flex($gap: $padding-mobile);
    flex: 3;
  }

  &__info-container {
    @include flex(row, center, center);
    flex: 1;
    height: 3rem;
    border: 1px solid $color-text-primary;
    border-radius: 5px;
  }

  &__info-item {
    margin: 0;
  }
}
