*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
