@font-face {
  font-family: Card Char;
  src: url("assets/fonts/card-char.ttf");
}

@font-face {
  font-family: Karla;
  src: url("assets/fonts/Karla-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Karla;
  src: url("assets/fonts/Karla-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Karla;
  src: url("assets/fonts/Karla-Bold.ttf");
  font-weight: 700;
}
