.game-deck {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  &__cards {
    position: relative;
    height: 24rem;
    width: 14rem;
  }

  &__card {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    color: #000;
    border: 3px solid #000;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

    &--back {
      padding: 1rem;
      font-size: 3rem;
      color: #fff;
      background-color: #000;
    }

    &--swiped {
      display: none;
    }
  }
}
