@use "../../styles/utils/mixins" as *;
@use "../../styles/utils/variables" as *;

.game-deck {
  @include flex(row, center, center);
  height: calc(100% - 7.78rem);

  &__cards {
    position: relative;
    height: 24rem;
    width: 14rem;
  }

  &__card {
    @include flex(column, center, center);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    color: #000;
    border: 3px solid #000;
    height: 100%;
    width: 100%;
    border-radius: 1rem;

    &--back {
      padding: 1rem;
      font-size: 3rem;
      color: #fff;
      background-color: #000;
    }

    &--swiped {
      display: none;
    }
  }
}
